## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [3]:
#In Step 1, import the WeatherPy_vacation.csv file from your Vacation_Search folder 
#from Deliverable 2 as a DataFram
# ----------------
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Rikitea,PF,77.99,light rain,-23.1203,-134.9692,People ThankYou
1,1,Hilo,US,81.28,light rain,19.7297,-155.0900,Hilo Hawaiian Hotel
2,7,Sao Filipe,CV,71.76,few clouds,14.8961,-24.4956,Hotel Xaguate
3,10,Alofi,NU,84.09,scattered clouds,-19.0595,-169.9187,Taloa Heights
4,17,Port Alfred,ZA,68.79,clear sky,-33.5906,26.8910,The Halyards Hotel

In [5]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City Name</dt><dd>{City}</dd>
<dt>Country Code</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [7]:
# 4a. Add a marker layer for each city to the map.
# 4b. Display the figure

max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [62]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"] == "Russell") & (vacation_df["Country"] == "US")]
vacation_end = vacation_df.loc[(vacation_df["City"] == "Russell") & (vacation_df["Country"] == "US")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"] == "Brookhaven") & (vacation_df["Country"] == "US")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"] == "Tupelo") & (vacation_df["Country"] == "US")]
vacation_stop3 = vacation_df.loc[(vacation_df["City"] == "Morehead") & (vacation_df["Country"] == "US")]

vacation_stop3

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
276,622,Morehead,US,65.98,broken clouds,37.2711,-87.1764,CCI Express Inn

In [63]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy 
# function and list indexing.

#new_df = pd.DataFrame({"Lat":vacation_start["Lat"], "Lng":vacation_start["Lng"]}).to_numpy()

start = pd.DataFrame({"Lat":vacation_start["Lat"], "Lng":vacation_start["Lng"]}).to_numpy()
end = pd.DataFrame({"Lat":vacation_start["Lat"], "Lng":vacation_start["Lng"]}).to_numpy()
stop1 = pd.DataFrame({"Lat":vacation_stop1["Lat"], "Lng":vacation_stop1["Lng"]}).to_numpy()
stop2 = pd.DataFrame({"Lat":vacation_stop2["Lat"], "Lng":vacation_stop2["Lng"]}).to_numpy()
stop3 = pd.DataFrame({"Lat":vacation_stop3["Lat"], "Lng":vacation_stop3["Lng"]}).to_numpy()

In [83]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

#tmp_start = (32.3, -85.1)
#tmp_end = (31.5791,-90.4407)

#print(tmp_start)
#print(start[0])


fig = gmaps.figure()
my_trip = gmaps.directions_layer(start[0], 
                                 end[0], 
                                 waypoints=[stop1[0], stop2[0], stop3[0]], 
                                 travel_mode="DRIVING")
fig.add_layer(my_trip)
fig

Figure(layout=FigureLayout(height='420px'))

In [85]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3, vacation_end],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,565,Russell,US,78.40,overcast clouds,32.3502,-85.1999,Macs
1,612,Brookhaven,US,74.86,overcast clouds,31.5791,-90.4407,Americas Best Value Inn Brookhaven
2,233,Tupelo,US,66.49,moderate rain,34.2576,-88.7034,"Hilton Garden Inn Tupelo, MS"
3,622,Morehead,US,65.98,broken clouds,37.2711,-87.1764,CCI Express Inn
4,565,Russell,US,78.40,overcast clouds,32.3502,-85.1999,Macs

In [114]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City Name</dt><dd>{City}</dd>
<dt>Country Code</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [113]:
# 11a. Add a marker layer for each city to the map.
# 11b. Display the figure

max_temp = itinerary_df["Max Temp"]
#max_temp = hotel_info


fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))